body {
  font-family: "Avenir Next";
}
li{
  list-style: none;
   
}


.header {
  background-color: #f7f2b4;
  height: 90px;
}

/* header-logoの文字の大きさを36px、floatプロパティをleftにしてください */
.header-logo{
  font-size: 36px;
  float: left;
  padding:20px 40px;
 
}

.header-list li{
  float: left;
  padding: 33px 20px;
}

.main {
  padding:100px 80px;
}

.copy-container h1{
  font-size:140px;


/* copy-containerの中のh2のfont-sizeを指定してください */
.copy-container h2{
  font-size:60px;
}


.footer {
  background-color: #2f5167;
  color:#fff;
  height: 120px;
  padding:40px;
}
.footer-logo{
  font-size: 32px;
  float: left;
}

.footer-list{
  float: right;
}


 
.footer-list li{
  padding-bottom: 20px;
}
